@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #262832 transparent;
}
